![Link Text](https://github.com/user/project/<spot>raw</spot>/master/repository/relative/image.png)

[Reference]: https://github.com/user/project/<spot>raw</spot>/master/repository/relative/image.png
